.status {
  display: flex;
  flex-direction: row;
  padding: 17.6px 20px 16px 20px;
  .status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.error {
  background-color: var(--error) !important;
  color:white;
}

.success {
  background-color: var(--success) !important;
  color:white;
}

.warning {
  background-color: var(--warning) !important;
  color:white;
}