<div class="predictive-modeling-container">
  <div class="left-column">
    <div class="settings-section">
      <h3>Settings</h3>
      <form [formGroup]="settingsForm">
        <mat-form-field>
          <mat-label>Developer Count</mat-label>
          <input matInput formControlName="developerCount" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dev Cost Per Year</mat-label>
          <input matInput formControlName="devCostPerYear" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hours Per Year</mat-label>
          <input matInput formControlName="hoursPerYear" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Percent Coding</mat-label>
          <input matInput formControlName="percentCoding" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Percent Time Saved</mat-label>
          <input matInput formControlName="percentTimeSaved" readonly>
        </mat-form-field>
      </form>
    </div>
    <div class="targets-section">
      <h3>Targets</h3>
      <form [formGroup]="targetForm">
        <mat-form-field>
          <mat-label>Target Value 1</mat-label>
          <input matInput formControlName="targetValue1">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Target Value 2</mat-label>
          <input matInput formControlName="targetValue2">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="right-column">
    <h3>Calculated Fields</h3>
    <div *ngFor="let field of calculatedFields">
      <p>{{ field.name }}: {{ field.value }}</p>
    </div>
  </div>
</div>
<button mat-raised-button color="primary" (click)="saveTargets()">Save Targets to DB</button>
