<div class="page-container">
  <div class="page-header">
    <h1>Predictive Modeling</h1>
  </div>
  <form [formGroup]="form" >
    <div class="form-group">
      <label for="developerTotal">Total Developers</label>
      <input type="number" id="developerTotal" formControlName="developerTotal">
    </div>
    <div class="form-group">
      <label for="adopterCount">Adopter Count</label>
      <input type="number" id="adopterCount" formControlName="adopterCount">
    </div>
    <div class="form-group">
      <label for="perLicenseCost">Per License Cost</label>
      <input type="number" id="perLicenseCost" formControlName="perLicenseCost">
    </div>
    <div class="form-group">
      <label for="perDevCostPerYear">Per Developer Cost Per Year</label>
      <input type="number" id="perDevCostPerYear" formControlName="perDevCostPerYear">
    </div>
    <div class="form-group">
      <label for="perDevHoursPerYear">Per Developer Hours Per Year</label>
      <input type="number" id="perDevHoursPerYear" formControlName="perDevHoursPerYear">
    </div>
    <div class="form-group">
      <label for="percentofHoursCoding">Percent of Hours Coding</label>
      <input type="number" id="percentofHoursCoding" formControlName="percentofHoursCoding">
    </div>
    <div class="form-group">
      <label for="targetedNumberOfDevelopers">Targeted Number of Developers</label>
      <input type="number" id="targetedNumberOfDevelopers" formControlName="targetedNumberOfDevelopers">
    </div>
    <div class="form-group">
      <label for="targetedPercentOfTimeSaved">Targeted Percent of Time Saved</label>
      <input type="number" id="targetedPercentOfTimeSaved" formControlName="targetedPercentOfTimeSaved">
    </div>
    <div class="form-group">
      <label for="targetedRoomForImprovement">Targeted Room for Improvement</label>
      <input type="number" id="targetedRoomForImprovement" formControlName="targetedRoomForImprovement" readonly>
    </div>
    <div class="form-group">
      <label for="roomForImprovement">Room for Improvement</label>
      <input type="number" id="roomForImprovement" formControlName="roomForImprovement" readonly>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
