<div class="page-container">
  <div class="page-header">
    <h1>Settings</h1>
    <span class="spacer"></span>
  </div>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="settings-header">
      <h3>Assumptions</h3>
    </div>
    <div class="settings-content auto-fit-grid">
      <mat-form-field>
        <mat-label>Number of Developers</mat-label>
        <input type="number" matInput formControlName="developerCount" placeholder="Ex: 100">
        <mat-error *ngIf="form.controls.developerCount.hasError('required')">
          Number of developers is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>Total Loaded Cost per Developer per Year</mat-label>
        <input type="number" matInput formControlName="devCostPerYear" placeholder="Ex: 150000"
          class="example-right-align">
        <mat-error *ngIf="form.controls.devCostPerYear.hasError('required')">
          Developer cost is <strong>required</strong>
        </mat-error>
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hours Available per Developer per Year</mat-label>
        <input type="number" matInput formControlName="hoursPerYear" placeholder="Ex: 2080" min="0"
          class="example-right-align">
        <mat-error *ngIf="form.controls.hoursPerYear.hasError('required')">
          Hours per year is <strong>required</strong>
        </mat-error>
        <span matTextSuffix>Hrs</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time Spent Coding</mat-label>
        <input type="number" matInput formControlName="percentCoding" placeholder="Ex: 60" min="0" max="100" step="10"
          class="example-right-align">
        <mat-error *ngIf="form.controls.percentCoding.hasError('required')">
          Coding percentage is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.percentCoding.hasError('min') || form.controls.percentCoding.hasError('max')">
          Must be between 0 and 100
        </mat-error>
        <span matTextSuffix>%</span>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time Savings per Task</mat-label>
        <input type="number" matInput formControlName="percentTimeSaved" placeholder="Ex: 20" min="0" max="100"
          step="10" class="example-right-align">
        <mat-error *ngIf="form.controls.percentTimeSaved.hasError('required')">
          Time savings is <strong>required</strong>
        </mat-error>
        <mat-error
          *ngIf="form.controls.percentTimeSaved.hasError('min') || form.controls.percentTimeSaved.hasError('max')">
          Must be between 0 and 100
        </mat-error>
        <span matTextSuffix>%</span>
      </mat-form-field>
    </div>
    <div class="settings-header">
      <h3>Metrics</h3>
    </div>
    <div class="settings-content">
      <mat-form-field>
        <mat-label>Metrics Polling Rate</mat-label>
        <input type="text" matInput [formControl]="form.controls.metricsCronExpression" placeholder="Ex: 0 0 * * *">
        <mat-error *ngIf="form.controls.metricsCronExpression.hasError('required')">Repository is
          <strong>required</strong></mat-error>
        <mat-error *ngIf="form.controls.metricsCronExpression.hasError('invalidCron')">
          {{form.controls.metricsCronExpression.errors?.['invalidCron'].value || 'Invalid cron expression'}}
        </mat-error>
        <mat-hint>
          <a [href]="'https://crontab.guru/#' + (form.controls.metricsCronExpression.valueChanges | async)?.replaceAll(' ', '_')"
            target="_blank">
            {{cronString}}
          </a>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="settings-header">
      <h3>Theme</h3>
    </div>
    <div class="settings-content">
      <mat-form-field>
        <mat-label>Theme</mat-label>
        <mat-select [value]="themeService.getTheme() | async"
          (selectionChange)="themeService.saveThemePreference($event.value)">
          <mat-option value="light-theme">Light</mat-option>
          <mat-option value="dark-theme">Dark</mat-option>
          <mat-option value="system">System</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="settings-divider">
      <mat-divider></mat-divider>
    </div>

    <ng-container *ngIf="installationsService.getInstallations() | async as installs">
      <div class="settings-header">
        <h3>GitHub App Installations</h3>
      </div>
      <div class="settings-content">
        <mat-list>
          @for (install of installs; track install) {
            <mat-list-item>
              <img matListItemAvatar [src]="install.account?.avatar_url" [alt]="install.app_slug">
              <div matListItemTitle><a [href]="install.html_url" target="_blank">{{install.app_slug}}</a></div>
              <div matListItemLine *ngIf="install.account">
                <span>{{install.account.type}}: <a [href]="install.account.html_url" target="_blank">{{install.account.login}}</a></span>
              </div>
            </mat-list-item>
          }
        </mat-list>

        <!-- <h6>Permissions:</h6>
        @for (permission of install.permissions | keyvalue; track $index) {
        <div class="permission">
          <span>{{permission.key}}</span>
          <span>{{permission.value}}</span>
        </div>
        } -->
      </div>
    </ng-container>

    <div class="settings-header">
      <h3>Advanced</h3>
    </div>
    <div class="settings-content auto-fit-grid">
      <mat-form-field>
        <mat-label>Base URL</mat-label>
        <input type="email" matInput [formControl]="form.controls.baseUrl" placeholder="Ex: https://localhost">
        <mat-error *ngIf="form.controls.baseUrl.hasError('required')">Base URL is <strong>required</strong></mat-error>
        <mat-error *ngIf="form.controls.baseUrl.hasError('pattern')">Please enter a valid URL</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Webhook URL</mat-label>
        <input type="email" matInput [formControl]="form.controls.webhookProxyUrl"
          placeholder="Ex: https://smee.io/ZzmdZIYqsXt7RHS5">
        <mat-error *ngIf="form.controls.webhookProxyUrl.hasError('pattern')">Please enter a valid URL</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Webhook Secret</mat-label>
        <input type="password" matInput [formControl]="form.controls.webhookSecret" placeholder="Ex: password">
      </mat-form-field>
    </div>
    <div class="settings-content">
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>