.full-width {
  width: 100%;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr; /* Left header, right content */
  gap: 24px;
  align-items: start;
}

.settings-header {
  grid-column: 1;
  max-width: 200px;
}

h4, h3 {
  margin: 0;
}

.settings-content {
  width: 100%;
  grid-column: 2;
  mat-form-field {
    width: 100%;
  }
  max-width: 100%;
}

.auto-fit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.settings-divider {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .settings-header,
  .settings-content {
    grid-column: 1;
    width: 100%;
    max-width: 100%;
  }
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
