table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

h4 {
  margin-top: 16px;
}

.actions-cell button {
  visibility: hidden;
}

tr:hover .actions-cell button {
  visibility: visible;
}