<mat-sidenav-container class="sidenav-container mat-typography" autosize>
  <mat-sidenav #drawer class="sidenav" [class.full-width]="isHandset$ | async" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button mat-icon-button (click)="toggleNavText();" aria-label="Toggle sidebar navigation"
        [style]="{ display: (isHandset$ | async) ? 'none' : 'inline-block' }">
        <mat-icon>menu</mat-icon>
      </button>
      <img *ngIf="!hideNavText || (isHandset$ | async)" routerLink="/" [src]="(themeService.isDarkTheme() | async) ? 
        'assets/images/GitHub_Logo_White.png' : 
        'assets/images/GitHub_Logo.png'" alt="GitHub Copilot Logo" style="height: 50px;">
    </mat-toolbar>
    <mat-nav-list [ngClass]="{'hide-nav-text': hideNavText && (isHandset$ | async) === false }">
      <a mat-list-item routerLink="/copilot">
        <mat-icon matListItemIcon>home</mat-icon>
        <span>Home</span>
      </a>
      <!-- <div mat-subheader>Pages</div> -->
      <a mat-list-item routerLink="/copilot/value">
        <mat-icon matListItemIcon>star</mat-icon>
        <span>Copilot Impact</span>
      </a>
      <a mat-list-item routerLink="/copilot/metrics">
        <mat-icon matListItemIcon>assessment</mat-icon>
        <span>Metrics</span>
      </a>
      <a mat-list-item routerLink="/copilot/seats">
        <mat-icon matListItemIcon>people</mat-icon>
        <span>Seats</span>
      </a>
      <a mat-list-item routerLink="/copilot/surveys">
        <mat-icon matListItemIcon>merge</mat-icon>
        <!-- <mat-icon matListItemIcon>feedback</mat-icon> -->
        <span>Developer Estimates</span>
      </a>
      <a mat-list-item routerLink="/copilot/value-modeling">
        <mat-icon matListItemIcon>calculate</mat-icon>
        <span>Value Modeling</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/settings">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <div class="header">
        <div *ngIf="installationsService.currentInstallation.asObservable() | async as installation"
          class="mat-card-avatar" mat-card-avatar style="background-size: cover;"
          [style.background-image]="'url(' + installation?.account?.avatar_url + ')'">
        </div>
        <ng-container *ngIf="installationsService.getInstallations() | async as installations">
          <h1>
            <mat-select *ngIf="installations.length > 1; else singleInstall" [ngModel]="(installationsService.currentInstallation.asObservable() | async)?.id || 1"
              (ngModelChange)="installationsService.setInstallation($event)">
              <mat-option [value]="1">Enterprise</mat-option>
              @for (installation of installationsService.getInstallations() | async; track installation.id) {
              <mat-option [value]="installation.id">{{ installation.account?.login }}</mat-option>
              }
            </mat-select>
            <ng-template #singleInstall>
              <span>{{ installations[0]?.account?.login }}</span>
            </ng-template>
          </h1>
        </ng-container>
      </div>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="sidenav-content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>