<mat-card appearance="outlined" class="dashboard-card">
  <mat-card-header *ngIf="title">
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="value !== undefined; else loading">
      <div class="value-container">
        <h1 class="primary-value">{{value | number:'1.0-0'}}</h1>
        <div *ngIf="change" class="trend-indicator">
          <mat-icon *ngIf="icon === undefined" [class]="change > 0 ? 'positive' : 'negative'">{{change > 0 ?
            'trending_up' :
            'trending_down'}}</mat-icon>
          <mat-icon *ngIf="icon?.length">{{icon}}</mat-icon>
          <span>{{change | number:'1.0-0'}}{{changeSuffix}}{{changeDescription ? changeDescription : ''}}</span>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>