<div class="date-selector">
  <mat-form-field appearance="outline" class="mat-form-field-no-outline" subscriptSizing="dynamic">
    <mat-label>Date Range</mat-label>
    <mat-select [formControl]="type">
      <mat-option value="week">Current Week</mat-option>
      <mat-option value="lastWeek">Last Week</mat-option>
      <mat-option value="month">Current Month</mat-option>
      <mat-option value="lastMonth">Last Month</mat-option>
      <mat-option value="7days">Last 7 Days</mat-option>
      <mat-option value="30days">Last 30 Days</mat-option>
      <mat-option value="90days">Last 90 Days</mat-option>
      <mat-option value="year">Last Year</mat-option>
      <mat-option value="custom">Custom Range</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="type.value === 'custom'" appearance="outline">
    <mat-label>Choose a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="range" [min]="minDate" [max]="maxDate">
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <button *ngIf="range.controls.start.value !== minDate || range.controls.end.value !== maxDate" 
            mat-icon-button matSuffix 
            (click)="range.setValue({ start: minDate, end: maxDate })">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>