<div class="page-container" *ngIf="seat && seat.assignee">
  <div class="page-header">
    <a [href]="seat.assignee.html_url" target="_blank">
      <h1>
        <img [src]="seat.assignee.avatar_url" class="avatar" alt="User avatar" width="75" height="75">
        {{ seat.assignee.login }}
      </h1>
    </a>
  </div>
  <mat-card appearance="outlined">
    <mat-card-content>
      <p></p>
      <p><strong>Plan Type: </strong>{{ seat.plan_type | titlecase }}</p>
      <p><strong>Created: </strong>{{ seat.created_at | date: 'medium' }}</p>
      <p><strong>Last Active: </strong>{{ seat.last_activity_at | date: 'medium' }}</p>
      <p><strong>Editor: </strong>{{ seat.last_activity_editor }}</p>
      <p><strong>Site Admin: </strong>{{ seat.assignee.site_admin ? 'Yes' : 'No' }}</p>
      <p><strong>Copilot Usage: </strong>{{ timeSpent }}</p>
    </mat-card-content>
  </mat-card>
</div>

<style>
.avatar {
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
</style>

<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag">
</highcharts-chart>
