<div class="page-container">
  <div class="page-header">
    <h1>Value</h1>
    <!-- <span class="spacer"></span>
    <div>
    </div> -->
  </div>
  <div class="cards-grid">
    <mat-card class="chart-card" id="adoption" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Adoption</mat-card-title>
      </mat-card-header>
      <app-adoption-chart [data]="activityData" [targets]="targetsData" [chartOptions]="chartOptions" (chartInstanceChange)="chartChanged($event)"></app-adoption-chart>
    </mat-card>
    <mat-card class="chart-card" id="activity" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Daily Activity</mat-card-title>
      </mat-card-header>
      <app-daily-activity-chart [activity]="activityData" [targets]="targetsData" [chartOptions]="chartOptions" [metrics]="metricsData" (chartInstanceChange)="chartChanged($event)"></app-daily-activity-chart>
    </mat-card>
    <mat-card class="chart-card" id="time-saved" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Weekly Time Saved</mat-card-title>
      </mat-card-header>
      <app-time-saved-chart [surveys]="surveysData" [targets]="targetsData" [activity]="activityData" [chartOptions]="chartOptions" (chartInstanceChange)="chartChanged($event, false)"></app-time-saved-chart>
    </mat-card>
  </div>
</div>