
.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  // align-items: center;
  justify-content: center;
}

.chart-card {
  // padding: 12px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  gap: 24px;
}

.page-header {
  mat-form-field {
    margin: 0 8px;
  }
}

mat-card {
  min-height: 400px;
}