<div class="stepper-container">
  <mat-stepper linear #stepper>
    <mat-step label="Database" state="database" [completed]="status?.dbConnected">
      <div *ngIf="status" class="stepper-content">
        <p>Enter your database credentials</p>
        <form [formGroup]="dbFormGroup" (ngSubmit)="dbConnect()" class="database-form">
          <ng-template matStepLabel>Database</ng-template>
          <mat-form-field>
            <mat-label>Hostname</mat-label>
            <input matInput formControlName="hostname" placeholder="127.0.0.1">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Port</mat-label>
            <input type="number" formControlName="port" matInput placeholder="3306">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="root">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
          <div>
          </div>
          <div>
            <button mat-button matStepperNext>
              Connect
              <mat-icon matIconSuffix *ngIf="isDbConnecting">
                <mat-spinner class="mat-spinner-color" diameter="18"></mat-spinner>
              </mat-icon>
            </button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="GitHub App" state="github" [completed]="status?.isSetup">
      <div class="stepper-content">
        <app-install (finishedChange)="checkStatus()"></app-install>
      </div>
    </mat-step>
    <mat-step label="Done" state="rocket_launch">
      <p>All Setup!</p>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="database">
      <mat-icon>table</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="github">
      <mat-icon class="material-icons" svgIcon="github"></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="rocket_launch">
      <mat-icon>rocket_launch</mat-icon>
    </ng-template>
  </mat-stepper>
</div>