.page-header {
  margin-bottom: 28px;
  h1 {
    margin-bottom: 0;
  }
}

.survey-container {
  display:grid;
  grid-template-columns: 600px 1fr;
  gap: 28px;
}

@media screen and (max-width: 1150px) {
  .survey-container {
    grid-template-columns: 1fr;
  }
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.example-form-field {
  width: 100%;
}

.example-mat-slider {
  width: 95%;
}

.slider-labels-container {
  display: inline-block;
  margin: 0 8px;
  width: 95%;
  .slider-labels {    
    display: block;
    width: 100%;
    height: 22px;
    margin-top: -10px;
    position: relative;
    margin-bottom: 15px;
    > * {
      position:absolute;
      transform:translateX(-50%);
    }
  }
}

label {    
  // margin-left: -15px;
  margin-bottom: 20px;
  display: block;
}

#slider,
mat-radio-group,
mat-form-field {
  box-sizing: border-box;
  padding-left: 20px !important;
}

#survey-responses {
  position: relative;
  max-height: 1153px;
  overflow: hidden;
  .survey-response-container {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    mat-card {
      margin-bottom: 20px;
    }
  }
  .survey-response-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}
#survey-responses:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), var(--sys-background) 90%);
  width: 100%;
  height: 8em;
}

.footer-text {
  margin-top: 35px;
  color: var(--sys-on-surface-variant)
}