<div class="page-container">
  <!-- <div class="page-header">
    <div>
      <h1>Estimate Time Saved With Copilot</h1>
      <h5 mat-card-subtitle>(and Share Insights with your colleagues)</h5>
    </div>
  </div> -->
  <div class="survey-container">
    <div>
      <h5>Estimate Time Savings
      <a [routerLink]="[]" fragment="why-estimate" class="info-section" aria-label="More info on estimate time savings">
        <mat-icon>info</mat-icon>
      </a>
    </h5>
      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!id" class="conditional-fields">
          <label for="usedCopilot" class="label-large">   Who is submitting this estimate?</label>
          <mat-form-field class="example-form-field">
            <mat-label>GitHub Handle</mat-label>
            <input matInput formControlName="userId" placeholder="Ex. mona">
            <mat-error *ngIf="surveyForm.get('userId')?.hasError('invalidUserId')">
              Invalid GitHub Handle
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Repository</mat-label>
            <input matInput formControlName="repo" placeholder="Ex. myrepo">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>PR Number</mat-label>
            <input matInput formControlName="prNumber" placeholder="Ex. 23">
          </mat-form-field>
        </div>
        <label for="usedCopilot" class="label-large">1. Did you use Copilot for this PR?</label>
        <mat-radio-group id="usedCopilot" formControlName="usedCopilot" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
        </mat-radio-group>
        <label for="percentTimeSavedSlider" class="label-large">2. How much less time did the PR take with Copilot?
        </label>
        <div id="slider">
          <mat-slider class="example-mat-slider" id="percentTimeSavedSlider" [max]="60" [min]="0" [step]="5"
            discrete="true" tickInterval="5" showTickMarks [displayWith]="formatPercent">
            <input matSliderThumb formControlName="percentTimeSaved">
          </mat-slider>
          <div class="slider-labels-container">
            <div class="slider-labels">
              <span style="left: 0%">0%</span>
              <span style="left: 25%">15%</span>
              <span style="left: 50%">30%</span>
              <span style="left: 75%">45%</span>
              <span style="left: 100%">60%</span>
            </div>
          </div>
        </div>
        <label for="reason" class="label-large">3. Explain how Copilot enabled that level of Time Savings?</label>
        <mat-form-field class="example-form-field">
          <textarea class="example-form-field" formControlName="reason"
            placeholder="Ex. Write boilerplate code more quickly, freeing up time to focus on complex logic." matInput>
          </textarea>
        </mat-form-field>
        <label for="timeUsedForGroup" class="label-large">4. Given current priorities, where would the Copilot time
          savings most likely show up?</label>
        <mat-radio-group id="timeUsedForGroup" formControlName="timeUsedFor" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="fasterPRs">Faster PR's</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="fasterReleases">Faster Releases</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="repoHousekeeping">Repo/Team
            Housekeeping</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="techDebt">Tech Debt, Reduce Defects and
            Vulns</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="experimentLearn">Experiment, Learn, or Share
            Knowledge</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="other">Other</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
    <div id="survey-responses" *ngIf="surveys.length">
      <h5>What colleagues are sharing...</h5>
      <div class="survey-response-container">
        <mat-card *ngFor="let survey of surveys">
          <mat-card-header>
            <a mat-card-avatar [href]="'http://localhost:4200/copilot/seats/' + survey.userId"
              [style.background-image]="'url(https://github.com/' + survey.userId + '.png)'"
              style="background-size:cover;">
            </a>
            <mat-card-title>{{survey.percentTimeSaved}}%</mat-card-title>
            <mat-card-subtitle>{{survey.createdAt | date: 'short'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{ survey.reason }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addKudos(survey)">
              <span class="kudos-count">{{ survey.kudos || 0 }}</span>
              <mat-icon class="small-icon">thumb_up</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <h3>      </h3>
  <div id="why-estimate" class="info-section">
    <h6>
      .<p> </p>
      .<p>  </p>
      . Why Estimate Copilot Time Savings?</h6>
  <p class="footer-text">
    <p><strong>Why Estimate Copilot Time Savings?</strong></p>

    <p>Everyone is wildly curious how developers are using Copilot—what works well, what doesn’t, and if this innovation is delivering value. 
      Your feedback helps you and the broader org of developers understand <strong>how to get the most out of Copilot</strong> while also identifying trends and opportunities for improvement.
      Users who actively utilize GitHub Copilot tend to recognize time savings. For example, one company found 93% of developers reported Copilot saves them time. On average developers reported a reduction in the time required for a coding task of 21%.</p>
    
    <p><strong>A great response includes:</strong></p>
    <ul>
        <li>What progress were you trying to make</li>
        <li>How Copilot assisted you (e.g., learning, planning, building, refactoring, scaffolding, testing, debugging)</li>
        <li>An estimate of raw time saved impact, regardless if the PR took the same duration or not.</li>
        <li>Indicate your expectation for where that extra time might show up (mainly to highlight that the time savings has consequences)</li>
    </ul>
    
    <p><strong>Example Responses from real developers:</strong></p>
    
    <ul>
        <li><strong>11-20% Time Savings:</strong>  
            <br>“Copilot chat asking how to use a specific command. Gives faster accurate answer without having to dig in the CLI documentation.”
        </li>
        <li><strong>21-30% Time Savings:</strong>  
            <br>“For about half the work in this PR, I did the first quarter of it, told GH Copilot ‘see what I did at lines N through N in #file? Do that for....’ and let it do the other one-quarter of the work for me.”
        </li>
        <li><strong>31-40% Time Savings:</strong>  
            <br>“Copilot assisted with formatting large sets of data for a test that normally would have taken much longer to do manually.”
        </li>
        <li><strong>More than 41% Time Savings:</strong>  
            <br>“Was able to tab out the entire process.”
        </li>
    </ul>
    
    <p><strong>Why This Matters</strong></p>
    
    <p>Traditional activity metrics—like lines of code written, PRs merged, or coding time—don’t capture Copilot’s real impact. They are <strong>noisy</strong> (affected by many factors), <strong>delayed</strong> (taking weeks or months to surface trends), and <strong>open to interpretation</strong> (more code doesn’t always mean better outcomes).</p>
    
    <p>Capturing time savings directly from developers provides <strong>immediate, firsthand insight</strong> into how Copilot changes the way work gets done. 
      When time savings are consistently high, downstream benefits are more likely to emerge, even if "productivity" metrics struggle to measure them.</p>
    
    <p>Thank you for reading this! Your input helps the developer community learn from each other how to use it effectively. Every insight counts!</p>
      </div>
</div>