<div class="page-container">
  <div class="page-header">
    <div>
      <h1>Estimate Time Saved With Copilot</h1>
      <h5 mat-card-subtitle>(and Share Insights with your colleagues)</h5>
    </div>
  </div>
  <div class="survey-container">
    <div>
      <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!id" class="conditional-fields">
          <label for="usedCopilot" class="label-large">Who is submitting this estimate?</label>
          <mat-form-field class="example-form-field">
            <mat-label>GitHub Handle</mat-label>
            <input matInput formControlName="userId" placeholder="Ex. mona">
            <mat-error *ngIf="surveyForm.get('userId')?.hasError('invalidUserId')">
              Invalid GitHub Handle
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>Repository</mat-label>
            <input matInput formControlName="repo" placeholder="Ex. myrepo">
          </mat-form-field>
          <mat-form-field class="example-form-field">
            <mat-label>PR Number</mat-label>
            <input matInput formControlName="prNumber" placeholder="Ex. 23">
          </mat-form-field>
        </div>
        <label for="usedCopilot" class="label-large">Did you use Copilot for this PR?</label>
        <mat-radio-group id="usedCopilot" formControlName="usedCopilot" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" [value]="true">Yes</mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">No</mat-radio-button>
        </mat-radio-group>
        <label for="percentTimeSavedSlider" class="label-large">How much less time did the PR take with Copilot?</label>
        <div>
          <mat-slider class="example-mat-slider" id="percentTimeSavedSlider" [max]="60" [min]="0" [step]="5"
            discrete="true" tickInterval="5" showTickMarks [displayWith]="formatPercent">
            <input matSliderThumb formControlName="percentTimeSaved">
          </mat-slider>
          <div class="slider-labels-container">
            <div class="slider-labels">
              <span style="left: 0%">0%</span>
              <span style="left: 25%">15%</span>
              <span style="left: 50%">30%</span>
              <span style="left: 75%">45%</span>
              <span style="left: 100%">60%</span>
            </div>
          </div>
        </div>
        <label for="reason" class="label-large">Explain how Copilot enabled that level of Time Savings?</label>
        <mat-form-field class="example-form-field">
          <textarea class="example-form-field" formControlName="reason"
            placeholder="Ex. Write boilerplate code more quickly, freeing up time to focus on complex logic." matInput>
          </textarea>
        </mat-form-field>
        <label for="timeUsedForGroup" class="label-large">Given current priorities, where would the Copilot time
          savings most likely show up?</label>
        <mat-radio-group id="timeUsedForGroup" formControlName="timeUsedFor" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" value="fasterPRs">Faster PR's</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="fasterReleases">Faster Releases</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="repoHousekeeping">Repo/Team
            Housekeeping</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="techDebt">Tech Debt, Reduce Defects and
            Vulns</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="experimentLearn">Experiment, Learn, or Share
            Knowledge</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="other">Other</mat-radio-button>
        </mat-radio-group>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
    <div id="survey-responses">
      <h5>What colleagues are sharing...</h5>
      <div class="survey-response-container">
        <mat-card *ngFor="let survey of surveys">
          <mat-card-header>
            <a mat-card-avatar [href]="'http://localhost:4200/copilot/seats/' + survey.userId"
              [style.background-image]="'url(https://github.com/' + survey.userId + '.png)'"
              style="background-size:cover;">
            </a>
            <mat-card-title>{{survey.percentTimeSaved}}%</mat-card-title>
            <mat-card-subtitle>{{survey.createdAt | date: 'short'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{ survey.reason }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="addKudos(survey)">
              <span class="kudos-count">{{ survey.kudos || 0 }}</span>
              <mat-icon class="small-icon">thumb_up</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>