
#manifest {
  display: none;
}

.example-full-width {
  width: 100%;
}

.stepper-margin-top {
  margin-top: 16px;
}
#existingAppForm {  
  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mdc-button,
  .mat-mdc-form-field {
    margin-top: 16px;
  }
}

.mat-error-container {
  padding: 0 16px;
  font-size:12px;
}
