<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to the GitHub App</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        This is a simple Angular app that demonstrates how to use the
      </p>
    </mat-card-content>
    <mat-card-actions>
      <form #form action="https://github.com/settings/apps/new?state=abc123" method="post">
        <input type="text" name="manifest" id="manifest" [value]="manifestString"><br>
        <!-- <input type="submit" value="Submit"> -->
        <button type="submit" (click)="form.submit()" mat-flat-button color="primary">Register GitHub App</button>
        <button mat-button>use an existing GitHub App</button>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
https://github.com/settings/apps/manifest