<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Webhook Url</mat-label>
    <input type="email" matInput [formControl]="form.controls.webhookProxyUrl" [errorStateMatcher]="matcher"
           placeholder="Ex: https://smee.io/ZzmdZIYqsXt7RHS5">
           <mat-error *ngIf="form.controls.webhookProxyUrl.hasError('required')">Webhook Url is <strong>required</strong></mat-error>
           <mat-error *ngIf="form.controls.webhookProxyUrl.hasError('pattern')">Please enter a valid URL</mat-error>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label>Webhook Secret</mat-label>
    <input type="text" matInput [formControl]="form.controls.webhookSecret" [errorStateMatcher]="matcher"
           placeholder="Ex: password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>App ID</mat-label>
    <input type="text" matInput [formControl]="form.controls.appId" [errorStateMatcher]="matcher"
           placeholder="Ex: 1028385">
    <mat-error *ngIf="form.controls.appId.hasError('required')">App ID is <strong>required</strong></mat-error>
    <mat-error *ngIf="form.controls.appId.hasError('pattern')">App ID must be a number</mat-error>
    <mat-error *ngIf="form.controls.appId.hasError('min') || form.controls.appId.hasError('max')">App ID must be <strong>7</strong> digits</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Private Key</mat-label>
    <textarea matInput [formControl]="form.controls.privateKey" [errorStateMatcher]="matcher"
                placeholder="Ex: -----BEGIN RSA PRIVATE KEY-----"></textarea>
    <mat-error *ngIf="form.controls.privateKey.hasError('required')">Private Key is <strong>required</strong></mat-error>
    <mat-error *ngIf="form.controls.privateKey.hasError('pattern')">Please enter a valid private key</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Save</button>
</form>