<mat-toolbar color="primary">
  <a mat-button routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:
true}">
    <mat-icon style="width:24px; height:24px;" svgIcon="github"></mat-icon>
    <span>GitHub Value</span>
  </a>
  <a mat-button routerLink="/surveys" routerLinkActive="active-route">
    <mat-icon>assignment</mat-icon>
    <span>Surveys</span>
  </a>
  <span class="example-spacer"></span>
  <a mat-icon-button routerLink="/settings" routerLinkActive="active-route">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>
<router-outlet />