<div class="page-container">
  <!-- <div class="page-header">
    <h1>Dashboard</h1>
    <span class="spacer"></span>
  </div> -->
  <div class="cards-grid">
    
    <!-- <app-dashboard-card-value routerLink="/copilot/seats" title="Seats" [value]="totalSeats" [change]="seatPercentage"
      changeSuffix="" icon="" changeDescription="% have Copilot"
      subtitle="Total Copilot Seats"></app-dashboard-card-value>
    <app-dashboard-card-value title="Active Users" [value]="activeCurrentWeekAverage"
      [change]="activeWeeklyChangePercent" changeSuffix="" changeDescription="% since last"
      subtitle="Average activity for last 7 days"></app-dashboard-card-value>
    <app-dashboard-card-value routerLink="/copilot/surveys" title="Surveys Complete" icon="" [value]="totalSurveys"
      [change]="totalSurveysThisWeek" changeSuffix="" changeDescription=" this week"></app-dashboard-card-value> -->

    <mat-card id="adoption" appearance="outlined" routerLink="/copilot/value" fragment="adoption">
      <mat-card-header>
        <mat-card-title>Adoption</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="activityData; else loading">
      <app-adoption-chart [data]="activityData" [chartOptions]="chartOptions"></app-adoption-chart>
      </ng-container>
    </mat-card>
    <mat-card id="activity" appearance="outlined" routerLink="/copilot/value" fragment="activity">
      <mat-card-header>
        <mat-card-title>Daily Activity</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="activityData && metricsData; else loading">
        <app-daily-activity-chart [activity]="activityData" [metrics]="metricsData"
        [chartOptions]="chartOptions"></app-daily-activity-chart>      </ng-container>
    </mat-card>
    <mat-card id="time-saved" appearance="outlined" routerLink="/copilot/value" fragment="time-saved">
      <mat-card-header>
        <mat-card-title>Time Saved</mat-card-title>
      </mat-card-header>
      <ng-container *ngIf="surveysData && activityData; else loading">
        <app-time-saved-chart [surveys]="surveysData" [activity]="activityData" [chartOptions]="chartOptions"></app-time-saved-chart>
      </ng-container>
    </mat-card>

    @for (status of statuses; track $index) {
      <mat-card id="status" appearance="outlined">
        <app-status [title]="status?.title" [message]="status?.message" [status]="status?.status"></app-status>
      </mat-card>
    }

  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>