@use '@angular/material' as mat;

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;

  app-dashboard-card-drilldown-bar-chart {
    // grid-row: span 4;
    grid-column: span 2;
  }
  app-dashboard-card-bars {
    // grid-row: span 4;
    max-height: 400px;
  }
  #adoption, #activity, #time-saved {
    max-height: 300px;
    height: 300px;
  }
  mat-card {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .cards-grid {
  }
  
  /* Reset the grid spans on mobile */
  .cards-grid>* {
    grid-row: auto !important;
    grid-column: auto !important;
  }
}

.dashboard-card {
  // background: var(--sys-surface-container);
  user-select: none;
}

.dashboard-card:hover {
  @include mat.elevation(2);
}