<div class="page-container">
  <!-- <div class="page-header">
    <h1>Dashboard</h1>
    <span class="spacer"></span>
  </div> -->
  <div class="cards-grid">
    <app-dashboard-card-value routerLink="/copilot/seats" title="Seats" [value]="totalSeats"
      [change]="seatPercentage" changeSuffix="" icon="" changeDescription="% have Copilot" subtitle="Total Copilot Seats"></app-dashboard-card-value>
    <app-dashboard-card-value title="Active Users" [value]="activeCurrentWeekAverage"
      [change]="activeWeeklyChangePercent" changeSuffix=""
      changeDescription="% since last" subtitle="Average activity for last 7 days"></app-dashboard-card-value>
    <app-dashboard-card-value routerLink="/copilot/surveys" title="Surveys Complete" icon="" [value]="totalSurveys"
      [change]="totalSurveysThisWeek" changeSuffix="" changeDescription=" this week"></app-dashboard-card-value>
    <app-dashboard-card-bars title="Engagement" [data]="metricsData ? metricsData[metricsData.length - 1] : undefined"
      [totalSeats]="totalSeats"></app-dashboard-card-bars>
    <app-dashboard-card-drilldown-bar-chart title="Engagement Breakdown"
      [data]="metricsData"></app-dashboard-card-drilldown-bar-chart>
    <!-- Language Popularity -->
    <!-- IDE Popularity -->
  </div>
</div>