.dashboard-card {
  // background: var(--sys-surface-container);
}

mat-card-content {
  padding-top: 16px;
}

.bar-item {
  margin-bottom: 24px;
}

.bar-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.bar-title {
  margin-left: 8px;
}

.bar-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

mat-progress-bar {
  height: 8px;
}