<div class="page-container">
  <div class="page-header">
    <h1>Copilot Stats</h1>
    <span class="spacer"></span>
  </div>
  <div class="cards-grid">
    <app-dashboard-card title="Seats" [value]="843" [change]="22"></app-dashboard-card>
    <app-dashboard-card title="Active Users" [value]="4205" [change]="-12"></app-dashboard-card>
    <app-dashboard-card title="Surveys Complete" icon="" [value]="43" [change]="14" changeSuffix="" changeDescription="This week"></app-dashboard-card>
    <app-dashboard-bars-card style="grid-row: span 4;" title="Engagement" [sections]="engagementSections"></app-dashboard-bars-card>
    <!-- Language Popularity -->
     <!-- IDE Popularity -->
  </div>
</div>